body { display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh; margin: 0px; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #00000000; background: url(../images/starfield.gif) repeat, black; }
h1 { color: #4c566c; font-weight: bold; font-size: 20px; text-shadow: white 0px 1px 0px; }
h2 { color: #4c566c; font-weight: bold; font-size: 16px; text-shadow: white 0px 1px 0px; }
a { color: #4c566c; font-size: 13px; text-decoration: none; }
a:hover { text-decoration: underline; }
p { color: #000000; font-size: 13px; text-decoration: none; font-style: normal; display: contents; margin: 0px;}
c { color: #000000; font-size: 11px; text-decoration: none; font-style: normal; }

.body { position: relative; border: 1px solid #004c00; padding: 8px; width: 660px; height: 0px; background: url(../images/backgroundStripes.png) repeat; }

#header { border-bottom-width: 0px; }
#header p { position: absolute; display: block; top: 0px; right: 0px; left: 0px; font-size: 20px; }

#favicon { background: url(../images/favicon.png) top center no-repeat; }
#favicon h2 { margin-top: 0px; padding-top: 89px; }
.favicon { position: relative; height: 89px; margin-bottom: 23px; }

#content { border-top-width: 0px; border-bottom-width: 0px; height: 766px; /* flex: 1; */  }

#box {  }
#boxg { position: absolute; width: 658px; min-height: 766px; border: 1px solid #8ab87b; background-color: #e5ffcc; -webkit-border-radius: 20px; z-index: 2; }
#boxw { position: absolute; width: 658px; min-height: 766px; border: 1px solid #a9abae; background-color: #ffffff; -webkit-border-radius: 20px; z-index: 3; }
#boxr { position: absolute; width: 658px; min-height: 766px; border: 1px solid #d1a08e; background-color: #ffe5cc; -webkit-border-radius: 20px; z-index: 1; }

#loop { position: absolute; margin-bottom: 34px; width: 598px; height: 564px; background: url(../images/loop.png) top center no-repeat; background-size: contain; }
#loop:hover { background: url(../images/loophover.png) top center no-repeat; background-size: contain; }
.loop { position: relative; margin: auto; border: 1px solid #fefe00; border-radius: 100px;  width: 598px; height: 598px; text-align: center; background: url(../images/starfield.gif) repeat; }
.loop:hover { border: 1px solid #0000fe; color: #0000fe; }
.loop a { position: absolute; inset: 0; padding-top: 564px; height: 34px; color: #fefe00; font-size: 28px; text-decoration: none; }
.loop a:hover { color: #0000fe; }

.article { position: absolute; margin: 0px 0px; padding-top: 40px; width: 658px; }
.article h1, h2, h3 { margin: 0px; padding-top: 22px; }
.articleBody { padding: 0px 29px }

.tab { position: absolute; width: 318px; height: 40px; top: -40px; background: url(../images/tab.png) bottom center no-repeat; bottom: 417px; }
.leftboxtop { width: 658px; height: 29px; background: url(../images/boxtopleft.png) top center no-repeat; }
.rightboxtop { width: 658px; height: 29px; background: url(../images/boxtopright.png) top center no-repeat; }
.centerboxtop { width: 658px; height: 29px; background: url(../images/boxtopcenter.png) top center no-repeat; }
.boxbackground { width: 658px; min-height: 628px; padding-bottom: 40px; background: url(../images/boxyellow.png) top center repeat-y; }
.boxbottom { width: 658px; height: 29px; background: url(../images/boxbottom.png) top center no-repeat ; }

#boxa { width: 658px; position: relative; z-index: 2; }
#boxc { width: 658px; position: relative; z-index: 3; }
#boxb { width: 658px; position: relative; z-index: 1; }
#taba { left: 0px; }
#tabc { right: 170px; }
#tabb { right: 0px; }

#footer { border-top-width: 0px; }
#footer p { position: absolute; display: block; bottom: 0px; right: 0px; left: 0px; font-size: 20px; }
