/* COMMON */
body { display: flex; flex-direction: column; min-width: 997px; max-width: 100%; min-height: 100vh; max-height: 100%; margin: 0px auto 0px auto; padding: 0px; font-family: Helvetica, Arial, sans-serif; font-size: 13px; color: #FE6C02; background: url("../images/login_bg.png") center top -153px repeat-x, url(../images/starfield.gif) repeat, black; }
h1 { font-size: 20px; color: #FE6C02; text-decoration: none; font-style: normal; text-shadow: 0px 0px 3px #04D9FF, 0px 2px 8px #FE6C02, 0px 2px 14px #000; }
a { font-size: 13px; color: #04D9FF; text-decoration: none; font-style: normal; text-shadow: 0px 0px 3px #FE6C02, 0px 2px 8px #04D9FF; }
a:hover { color: #FE6C02; text-decoration: underline; text-shadow: 0px 0px 3px #04D9FF, 0px 2px 8px #FE6C02; }
as { font-size: 13px; color: #FE6C02; text-decoration: none; font-style: normal; }
p { font-size: 15px; color: #FE6C02; text-decoration: none; font-style: normal; }
li { font-size: 15px; color: #FE6C02; text-decoration: none; font-style: normal; }
i { font-size: 11px; color: #FE6C02; text-decoration: none; font-style: normal; }
c { font-size: 11px; color: #FFFFFF; text-decoration: none; font-style: normal; }

ul { padding-inline-start: 40px; text-align: justify; list-style-image: url(../images/bullet1.png); }
ul ul { list-style-image: url(../images/bullet2.png); }

img { border: none; }

@view-transition { navigation: auto; }
::view-transition-group(root) { animation-delay: 0.3s; animation-direction: 1s; }

@keyframes spin { from { transform: rotate(0deg); } to { transform: rotate(360deg); } }

#github { background: none }
#carrd { background: url(../images/carrd_favicon.png) left no-repeat; }
#gravatar { background: url(../images/gravatar_favicon.png) left no-repeat; }
#linktree { background: url(../images/linktree_favicon.png) left no-repeat; }
.Hexagon { background: url(../images/Hexagon_000080.svg) left 8px center / 16px 16px no-repeat, url(../images/Hexagon_04D9FF.svg) left center / 32px 32px no-repeat; }
.Hexagon:hover { background: url(../images/Hexagon_000080.svg) left 8px center / 16px 16px no-repeat, url(../images/Hexagon_FE6C02.svg) left center / 32px 32px no-repeat; }

/* HEADER */
#header { position: relative; text-align: center; height: 211px; background: url(../images/header.png) center top -153px no-repeat; }

#topMenu { height: 59px; text-align: center; line-height: 24px; padding: 0px 10px; background: url(../images/top-menu_bg.png) top repeat-x; }
#topMenuContainer {  }
#topMenu a { margin: auto 5px; }
#topMenu a:hover {  }

#site {position: relative;height: 112px;text-align: center;} 
#site h1 { margin: 0px auto; }
#site h1 span {  }
#site img { width: 81px; height: 89px; }

#favicon { background: url(../images/favicon.png) top center no-repeat; }
#favicon h1 { padding-top: 89px; }
.favicon { position: relative; right: -280px; width: 400px; height: 89px; margin: 0px auto; margin-bottom: 23px; }

#mainMenu { position: absolute; width: 100%; bottom: 0px; text-align: center; height: 41px; background: url(../images/main-menu_bg.png) top repeat-x; }
#mainMenu as { line-height: 40px; }
#mainMenuContainerR { float: right; position: absolute; right: 50%; min-width: 945px; }
#mainMenuContainerL { position: relative; left: 50%; }
#mainMenu a { display: block; position: relative; float: left; width: 189px; height: 33px; line-height: 33px; font-weight: bold; margin-top: 4px; background: url(../images/main-menu_button.png) center top no-repeat; }
#mainMenu a:hover { background-position: center 100%; border-radius: 5px; -moz-box-shadow: 0px 0px 25px #04D9FF; -webkit-box-shadow: 0px 0px 25px #04D9FF; box-shadow: 0px 0px 25px #04D9FF; text-decoration: underline; }  

/* CONTENT */
#content { flex: 1; text-align: center; clear: both; position: relative; }
#contentContainer { position: relative; display: grid; grid-template-columns: 231px 1fr 231px; margin: auto; height: 100%; }
#contentContainerI { position: relative; margin: auto; height: 100%; }
.contenttop { position: absolute; width: 100%; height: 371px; background: url(../images/content_bg.png) top repeat-x; }
.contentbottom { position: absolute; width: 100%; top: 371px; bottom: 0px; background: linear-gradient(0deg, #000048 0%, #00001E 50%) top;  }

#leftColumn { max-height: min-content; top: 0; position: sticky; z-index: 2; padding: 15px; }
#leftMenu { text-align: center; }
#leftMenu a { margin: auto; font-weight: bold; line-height: 43px; display: block; width: 201px; height: 45px; background: url(../images/left-menu_button.png) center top no-repeat; }
#leftMenu a:hover { background-position: center 100%; }
#leftMenuContainer {  }
#lefticonsContainer {  }
#leftboxContainer {  }

#rightColumn { max-height: min-content; top: 0; position: sticky; z-index: 1; padding: 15px; }
#rightboxContainer {  }
#rightboxContainerjdjcool1 {  }
#rightboxContainerDrakai217 {  }
#rightboxContainerDrexon69 {  }

#icons { text-align: center; }
#icons a { height: 32px; margin: 0px 10px; margin-bottom: 3px; padding-top: 3px; padding-inline-start: 32px; text-align: left; display: block; line-height: 17px; border: 1px solid #04D9FF; border-radius: 5px; corner-shape: bevel; border-left-width: 0px; border-right-width: 0px; }
#icons a:hover { border: 1px solid #FE6C02; border-left-width: 0px; border-right-width: 0px; }
#iconsContainer {  }

#middleColumn { z-index: 3; padding: 15px; }
.article { clear: both; padding-bottom: 5px; }
.article h1 { text-align: left; margin: 0px; padding-left: 5px; }
.articleBody { min-height: 600px; padding: 0px 10px; line-height: 30px; text-align: center; }
.articleInfo { padding: 20px 5px; }
.articleAuthor { float: left; }
.articleAuthor span { font-style: italic; text-shadow: 0px 0px 5px #04D9FF; }
.articleDate { float: right; }

.profile { clear: both; padding-bottom: 45px; }
.profile h1 { text-align: left; margin: 0px; padding-left: 5px; }
.profileBody { min-height: 600px; padding: 0px 10px; line-height: 30px; text-align: center; }

#shape { width: 40px; height: 40px; background: black; clip-path: polygon( 9% 26.25%, 9% 73.75%, 50% 97.5%, 91% 73.75%, 91% 26.25%, 50% 2.5% ); animation: spin 1s linear infinite; }

#divider { width: 100%; height: 23px; background: url(../images/divider.png) center repeat-x; }
.divider { width: 100%; height: 1px; margin: 0px; background: linear-gradient(90deg, #04D9FF 0%, #FE6C02 100%) top; }

.box { width: 100%; min-height: 81px; background: #00006B url(../images/box_bg.png) top repeat-x; border: 1px solid #000080; margin-bottom: 10px; padding: 10px 0px; -moz-border-radius: 5px; border-radius: 5px; corner-shape: bevel;
				border-top-color: #04D9FF; border-left-color: #04D9FF; border-right-color: #FE6C02; border-bottom-color: #FE6C02; 
				-moz-box-shadow: 0px 10px 13px #000; -webkit-box-shadow: 0px 10px 13px #000; box-shadow: 0px 10px 13px #000; }
.box h1 { margin: 0px; }
.box-important { background: #000078 url(../images/box-important_bg.png) top repeat-x; -moz-box-shadow: 0px 0px 8px #04D9FF, 0px 0px 25px #FE6C02; -webkit-box-shadow: 0px 0px 8px #04D9FF, 0px 0px 25px #FE6C02; box-shadow: 0px 0px 8px #04D9FF, 0px 0px 25px #FE6C02; }

#middleboxContainer {  }

.boxborder { position: relative; z-index: 5; padding-top: 5px; width: 997px; background: #000080; border: 1px solid #000080; -moz-border-radius: 16px; border-radius: 16px; 
	-moz-box-shadow: 0px 0px 8px #FE6C02, 0px 0px 25px #04D9FF; -webkit-box-shadow: 0px 0px 8px #FE6C02, 0px 0px 25px #04D9FF; box-shadow: 0px 0px 8px #FE6C02, 0px 0px 25px #04D9FF; }
.boxtitle { position: relative; z-index: 4; width: 997px; height: 53px; background: url(../images/title_bg.png) bottom center no-repeat; line-height: 50px; }
.boxtop { position: relative; z-index: 3; width: 997px; height: 179px; background: url(../images/top_bg.png) top center no-repeat; }
.boxmiddle { position: relative; z-index: 1; width: 997px; background: url(../images/mid_bg.png) top center repeat-y; }
.boxbottom { position: relative; z-index: 2; width: 997px; height: 29px; background: url(../images/bottom_bg.png) top center no-repeat ; }

.boxarticle { display: flex; justify-content: center; position: relative; top: 6px; }
.boxarticle h1 { text-align: center; margin-top: -6px; margin-bottom: 0px; font-size: 41px; }
.boxarticle a { text-align: center; margin-top: 10px; margin-bottom: 20px; padding-top: 0px; padding-bottom: 0px; }
.boxarticle p { margin: 0px; padding-top: 17px; text-align: center; }
.boxarticle img {  }

#button { position: relative; text-align: center; }
#button a { position: absolute; right: 0px; left: 0px; margin: auto; display: block; line-height: 345px; width: 187px; height: 170px;  background: url(../images/map-iconInternet.png) center top no-repeat; background-size: 170px; }
#button a:hover { background-position: center 100%; }
#button img { height: 66px; margin-top: 166px; margin-bottom: 0%; margin-left: 0px; }
.loading { position: relative; margin: 0px auto; width: 67px; right: -280px; top: 58px; line-height: 67px; color: #00000000; background: url(../images/loading.gif) top center no-repeat; }

/* FOOTER */
#footer { height: 125px; position: relative; text-align: center; background: url(../images/footer_bg.png) top repeat-x; clear: both; }
.footer { position: fixed; width: 100%; height: 100%; background: #00009f96; }

#bottomMenu { margin-top: 40px; }
#bottomMenuContainer {  }
#bottomMenu a { margin: auto 7px; }
#bottomMenu a:hover {  }

#copyright { text-align: center; margin: 20px auto 20px auto; }