/* COMMON */
body { font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #FFFFFF; background: black url(../images/starfield.gif); margin: 0px; padding: 0px; }
a { color: #FFFFFF; }

ul { list-style-image: url(../images/bullet1.png); }
ul ul { list-style-image: url(../images/bullet2.png); }

img { border: none; }

/* HEADER */
#header { position: relative; text-align: center; height: 370px; background: url(../images/header.png) center top no-repeat; }

#topMenu { height: 24px; }
#topMenuContainer { text-align: center; font-size: 10px; line-height: 24px; padding: 0px 10px; background: url(../images/top-menu_bg.png) top repeat-x; }
#topMenu a { color: #DDDDDD; text-decoration: none; margin: auto 5px; }
#topMenu a:hover { text-shadow: 0px 0px 5px #FFF; color: #FFFFFF; text-decoration: underline; }

/* TIP: Uncomment the following line to hide the top menu */
/*#topMenuContainer { display: none; }*/

#site { position: relative; height: 168px; text-align: center; } 
#site h1 { position: relative; top: 145px; left: 280px; width: 400px; margin: 0px auto; font-size: 22px; text-align: center; text-shadow: 0px 2px 10px #000; }
#site h1 span { text-shadow: 0px 0px 3px #000, 0px 2px 6px #7adefe, 0px 2px 14px #7adefe; }

#mainMenu { position: absolute; width: 100%; top: 330px; text-align: center; height: 41px; background: url(../images/main-menu_bg.png) top repeat-x; }
#mainMenuContainer { float: left; position: relative; right: -50%; }
#mainMenuContainer2 { position: relative; right: 50%; }
#mainMenu a { text-shadow: 0px 1px 2px #154257, 0px 0px 6px #DFEFF7; display: block; position: relative; float: left; width: 187px; height: 34px; line-height: 34px; text-decoration: none; font-weight: bold; margin-top: 4px; background: url(../images/main-menu_button.png) center top no-repeat; }
#mainMenu a:hover { text-shadow: 0px 0px 3px #FFF, 0px 0px 13px #DFEFF7; background-position: center -50px; -moz-box-shadow: 0px 0px 25px #7ABDDE; -webkit-box-shadow: 0px 0px 25px #7ABDDE; box-shadow: 0px 0px 25px #7ABDDE;}

/* TIP: Uncomment the following line to hide the main menu */
/*#mainMenu { display: none; }*/  

/* CONTENT */
#content { background: #040f1a url(../images/content_bg.png) top repeat-x; clear: both; }
#contentContainer { margin: auto; position: relative; width: 1024px; }

#leftColumn { position: absolute; left: 0px; top: 0px; width: 240px; padding: 10px; padding-top: 10px; }
#leftMenu { text-align: center; background: url(../images/left-menu_bg.png) top repeat-x; }
#leftMenu a { text-shadow: 0px 0px 7px #CEDEEC; color: #CEDEEC; margin: auto; text-decoration: none; font-weight: bold; line-height: 44px; display: block; width: 206px; height: 40px; background: url(../images/left-menu_button.png) center top no-repeat; }
#leftMenu a:hover { text-shadow: 0px 0px 4px #FFF, 0px 0px 10px #CEDEEC; color: #FFFFFF; background-position: center -50px;}

/* TIP: Uncomment the following line to hide the left menu */
/*#leftMenu { display: none; }*/

#icons { text-align: center; }

#middleColumn { position: relative; margin-left: 240px; width: 500px; padding: 20px 20px; }
.article { clear: both; padding-bottom: 40px; }
.article h1 { text-shadow: 0px 0px 3px #A9E1E9, 0px 2px 10px #000; border: 0px solid #32506D; border-bottom-width: 1px; margin: 0px; margin-top: 30px; padding-bottom: 5px; padding-left: 0px;}
.articleBody { font-size: 17px; padding: 0px 10px; line-height: 18px; text-align: justify; }
.articleInfo { color: #999999; font-size: 10px; padding: 5px 0px; }
.articleAuthor { float: left; }
.articleAuthor span { font-style: italic; text-shadow: 0px 0px 5px #999; }
.articleDate { float: right; }

#rightColumn { position: absolute; right: 0px; top: 0px; width: 240px; padding: 10px; padding-top: 10px; }
.box {	font-size: 11px; background: #224466 url(../images/box_bg.png) top repeat-x; border: 1px solid #32506D; margin-bottom: 10px; padding: 10px; -moz-border-radius: 5px; border-radius: 5px;
				border-top-color: #32506D; border-left-color: #32506D; border-right-color: #11273D; border-bottom-color: #11273D; 
				-moz-box-shadow: 0px 10px 13px #000; -webkit-box-shadow: 0px 10px 13px #000; box-shadow: 0px 10px 13px #000; }
.box h1 { text-shadow: 0px 0px 3px #A9E1E9, 0px 2px 5px #000; margin: 0px; font-size: 15px; }
.box-important { background: #264c72 url(../images/box-important_bg.png) top repeat-x; -moz-box-shadow: 0px 0px 8px #DFEFF7, 0px 0px 25px #7ABDDE; -webkit-box-shadow: 0px 0px 8px #DFEFF7, 0px 0px 25px #7ABDDE; box-shadow: 0px 0px 8px #DFEFF7, 0px 0px 25px #7ABDDE; }


/* FOOTER */
#footer { position: relative; text-align: center; padding: 40px 0px 20px 0px; background: url(../images/footer_bg.png) top repeat-x; clear: both;}

#bottomMenu { margin-bottom: 20px; color: #AAA; font-size: 8px; }
#bottomMenuContainer {}
#bottomMenu a { text-shadow: 0px 2px 7px #000; margin: auto 7px; color: #EEE; font-size: 11px; }
#bottomMenu a:hover { text-shadow: 0px 0px 3px #FFF, 0px 2px 7px #000; color: #FFF; }

/* TIP: Uncomment the following line to hide the the bottom menu */
/*#bottomMenu { display: none; }*/

#copyright { text-align: center; font-size: 11px;  color: #DDD; }
