body { margin: 12px auto 0px auto; font-family: Helvetica, Arial, sans-serif; text-align: center; font-size: 13px; background: url(../images/backgroundStripes.png) repeat; max-width: 698px; }
h1 { font-weight: bold; font-size: 20px; color: rgb(76, 86, 108); text-shadow: white 0px 1px 0px; }
h2 { font-weight: bold; font-size: 16px; color: rgb(76, 86, 108); text-shadow: white 0px 1px 0px; }
h3 { font-weight: bold; font-size: 13px;  }
a:link { text-decoration: none; color: rgb(76, 86, 108); }
a:hover { text-decoration: underline; color: rgb(76, 86, 108); }
p { font-size: 15px; text-decoration: none; font-style: normal; }
i { font-size: 11px; text-decoration: none; font-style: normal; }
c { font-size: 11px; text-decoration: none; font-style: normal; }
textarea { width: 100%; font-family: monospace; }

#edit { display: none; }
#toggleEdit:checked ~ #edit { display: block; }
.checkbox { margin-top: 1em; }

.at1x { display: inline; }
.at2x { display: none; }
@media screen and (-webkit-min-device-pixel-ratio: 2) { .at1x { display: none; } .at2x { display: inline; } }

.article { margin: 0px 20px; }
.article h1, h2, h3 { margin: 0px; padding-top: 14px; }
.articleBody { margin: 0px 18px }
.articleInfo { padding: 20px 5px; }
.articleAuthor { float: left; }
.articleAuthor span { font-style: italic; }
.articleDate { float: right; }

.tab { width: 318px; height: 40px; background: url(../images/tab.png) bottom center no-repeat; line-height: 50px; }
.leftboxtop { width: 658px; height: 29px; background: url(../images/boxtopleft.png) top center no-repeat; }
.rightboxtop { width: 658px; height: 29px; background: url(../images/boxtopright.png) top center no-repeat; }
.boxbackgroundyellow { width: 658px; background: url(../images/boxyellow.png) top center repeat-y; }
#boxbackgroundwhite { width: 658px; background: url(images/boxwhite.png) top center repeat-y; }
.boxbottom { width: 658px; height: 29px; background: url(../images/boxbottom.png) top center no-repeat ; }