body { margin: 2px auto 0px auto; font-family: Helvetica, Arial, sans-serif; font-size: 13px; background-image: url(../images/backgroundStripes.png); background-repeat: repeat; max-width: 640px; }
h1 { font-weight: bold; font-size: 20px; color: rgb(76, 86, 108); text-shadow: white 0px 1px 0px; margin-left: 9px; display: inline; vertical-align: middle; }
h2 { font-weight: bold; font-size: 16px; color: rgb(76, 86, 108); text-shadow: white 0px 1px 0px; margin: 19px 19px 9px 19px; }
a:link { text-decoration: none; color: rgb(76, 86, 108); }
a:hover { text-decoration: underline; color: rgb(76, 86, 108); }
textarea { width: 100%; font-family: monospace; }

#title { font-weight: bold; font-size: 16px; color: rgb(76, 86, 108); text-shadow: white 0px 1px 0px; }
#h1icon { margin: 10px 0px 4px 0px; vertical-align: middle; border: none; }
#icon { margin: 10px 0px -1px 0px; }
#edit { display: none; }
#toggleEdit:checked ~ #edit { display: block; }

.at1x { display: inline; }
.at2x { display: none; }
@media screen and (-webkit-min-device-pixel-ratio: 2) { .at1x { display: none; } .at2x { display: inline; } }

.header { text-align: center; }
.heading { font-weight: bold; font-size: 13px; border-top: 1px solid rgb(169, 171, 174); padding-top: 14px; margin-bottom: 9px; }
.text { margin: 0px 18px 9px 18px; }
.comment { font-style: italic; float: right; width: auto;}
.center { text-align: center; }
.textareaspacer { margin: 0px 6px 4px 4px; }
.checkbox { margin-top: 1em; }
.checkboxexplanation { font-size: smaller; margin-left: 22px; }
.fineprint { text-align: center; font-size: 11px; margin-bottom: 9px; }
.navdashjs { text-align: center; }

.box { border-color: rgb(169, 171, 174); border-style: solid; border-width: 1px; background-color: white; 
	-webkit-border-top-right-radius: 10px 10px; -webkit-border-top-left-radius: 10px 10px; -webkit-border-bottom-left-radius: 10px 10px; -webkit-border-bottom-right-radius: 10px 10px; margin: 8px 9px 9px 9px; padding: 14px 10px 11px 10px; }
.confirmationwarning { border-color: rgb(209, 160, 142); border-style: solid; border-width: 1px; background-color: rgb(255, 229, 204); color: rgb(102, 0, 0); 
	-webkit-border-top-right-radius: 10px 10px; -webkit-border-top-left-radius: 10px 10px; -webkit-border-bottom-left-radius: 10px 10px; -webkit-border-bottom-right-radius: 10px 10px; margin: 8px 9px 9px 9px; padding: 14px 10px 11px 10px; }
.confirmationwarning form { margin-top: 7px; }
.confirmationok { border-color: rgb(138, 184, 123); border-style: solid; border-width: 1px; background-color: rgb(229, 255, 204); color: rgb(0, 76, 0); 
	-webkit-border-top-right-radius: 10px 10px; -webkit-border-top-left-radius: 10px 10px; -webkit-border-bottom-left-radius: 10px 10px; -webkit-border-bottom-right-radius: 10px 10px; margin: 8px 9px 9px 9px; padding: 14px 10px 11px 10px; }
